<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>My demo app</display-name>
  
	<servlet>
		<servlet-name>MyDemoApp</servlet-name>
		<!--el servlet class, sale del framework de spring. El dispatcher sirve para trabajar con los requests y responses http-->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- ahora voy a definir donde esta el archivo de configuracion del servlet -->
		<init-param>
			<!--  es equivalente al app context, ya que aca van a ir los beans -->
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/config/myDemoApp-servletConfig.xml</param-value>
		</init-param>
	</servlet>  
	
	<servlet-mapping>
		<!-- El nombre del servlet, tiene que ser el mismo del que quiero configurar -->
		<servlet-name>MyDemoApp</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
  
</web-app>
